body {
  background-color: pink;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#message-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: white;
}
#message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Comic Sans MS", sans-serif;
  color: white;
  text-shadow: 2px 2px rgb(6, 5, 5);
  animation: text-appear 1s ease-in-out;
}

@keyframes text-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#play-button {
  position: absolute;
  z-index: 2;
  background-color: red;
  border-radius: 40px;
  font-size: 24px;
  font-family: "Comic Sans MS", sans-serif;
  padding: 20px 40px;
  color: white;
  cursor: pointer;
  /* otros estilos */
}

.heart {
  position: absolute;
  width: 60px;
  height: 53px;
  background-image: url(heart.png);
  background-size: cover;
  animation: fallingHeart 4s ease-in-out infinite;
}

@keyframes fallingHeart {
  0% {
    top: -30px;
  }
  100% {
    top: 100%;
  }

}

